h1 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--text-color);
}

main {
  box-shadow: var(--card-box-shadow);
  padding: 40px;
}
.stars {
  cursor: pointer;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  img {
    height: 300px;
    object-fit: cover;
  }
}
.user-note {
  font-size: 1.5rem;
  align-self: center;
  display: flex;
  gap: 10px;
  p {
    color: var(--primary-color);
  }
}

.recipe-name {
  position: relative;
  &::before {
    z-index: -1;
    display: inline-block;
    content: "";
    position: absolute;
    height: 15px;
    background-color: var(--primary-color);
    border-radius: 6pc;
    width: 102%;
    bottom: -4px;
    left: -2px;
  }
}

.tag {
  font-size: 1.3em;
  padding: 10px 20px;
}
.tags-list {
  display: flex;
  gap: 50px;
  justify-content: center;
}
#btn-add-to-favorites {
  align-self: center;
  padding: 20px;
}

.recipe-heading-bloc {
  display: flex;
  gap: 10px;
  color: var(--text-color);
  font-size: 1.5rem;
  align-items: center;
  &::after {
    content: "";
    height: 1px;
    width: 1px;
    flex: 1 1 0;
    background-color: var(--text-color);
  }
  i {
    position: relative;
    top: -2px;
  }
}
.ingredients-list {
  margin: 10px 30px;
  color: var(--text-color);
  font-size: 1.4rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, auto);
  list-style: disc;
  padding: 40px;
  gap: var(--gloabal-spacing);
  li {
    padding-left: 10px;
  }
}

.steps-list {
  list-style: numeric;
  margin: 10px 30px;
  color: var(--text-color);
  font-size: 1.4rem;
  display: grid;
  gap: var(--gloabal-spacing);
  padding: 40px;
  li {
    padding-left: 10px;
  }
}

.hidden {
  display: none;
}

/* =================================
SECTION : MEDIA QUERY Tablette
================================= */
@media (min-width: 768px) {
  .ingredients-list,
  .steps-list {
    padding: 40px 50px;
  }
}

/* =================================
SECTION : MEDIA QUERY POUR IMPRESSION
================================= */

@media print {
  header,
  footer {
    display: none !important;
  }
  :root {
    font-size: 11px;
  }
  * {
    --primary-color: #e67f21;
    --background-grey: #f9f9f9;
    --background-color: #ffff;

    --button-background-color: var(--primary-color);
    --button-hover-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --input-background-color: #fff;
    --text-color: #636363;
    --text-color-sections: #c58146;
    --burger-color: #000;

    --card-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --card-background-color: #fff;

    --tag-color-category: var(--primary-color);
    --tag-color-duration: #2ccb73;
    --tag-color-level: #3796db;
    --spacer-color: #e8e8e8;
  }

  body {
    background-color: white;
  }

  main {
    box-shadow: unset;
  }

  .no-print {
    display: none !important;
  }

  .card {
    border: unset;
    box-shadow: unset;
    padding: 0;
  }
  .recipe-container {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    img {
      height: 150px;
      object-fit: cover;
    }
  }

  .ingredients-list,
  .steps-list {
    padding: 5px !important;
    margin: 0 30px !important;
    display: initial;
  }
  .ingredients-list {
    display: grid;
    gap: 0;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, auto); /* max 5 items par colonne */
  }
}

/* =================================
SECTION : READING MODE
================================= */

.reading-mode {
  font-family: serif;
  line-height: 1.5;

  header,
  footer,
  buuton,
  img {
    display: none !important;
  }
}
